# Bỏ qua thư mục thư viện Node.js
node_modules/

# Bỏ qua các file bí mật
.env

# Bỏ qua thư mục plugin của Terraform (Cái gây lỗi đây)
.terraform/
*.terraform*
terraform.tfstate
terraform.tfstate.backup

# Bỏ qua các file log và hệ thống
npm-debug.log*
.DS_Store